---
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/29849531957_2a3a713fca_k_thomas_shahan.jpg
  actions:
    - label: "Hidden in Plain Sight..."
      url: "/texts/"
  caption: "Photo credit: [**Thomas Shahan**](https://flic.kr/p/MtGDUH)"
excerpt: "Where Conquistadors drive in their stakes to find their way home."
intro:
  - excerpt: "A Bonaza of One’s Own.<br /> *For Quanah Parker & Satanta.*"
feature_row:
  - image_path: /images/home/texts.jpg
    alt: "American Progress (John Gast painting, 1872). Public Domain, from Wikipedia."
    title: "Texts"
    url: "/texts/"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
  - image_path: /images/home/gallery.jpg
    alt: "Lighthouse rock formation in Palo Duro Canyon. Photo by Thomas Shahan."
    title: "Galleries"
    url: "/galleries/"
    btn_label: "Explore Art"
    btn_class: "btn--inverse"
  - image_path: /images/home/maps.jpg
    title: "Maps"
    alt: "US Government 1887 Indian Terrority Map"
    url: "/maps/"
    btn_label: "Study Maps"
    btn_class: "btn--inverse"
redirect_from: /home/
---
{% include feature_row id="intro" type="center" %}

<p>America&rsquo;s&nbsp;<em>first</em>&nbsp;Gilded Age rises from the brutal Depression of 1873-1879. Just then, two wealthy Victorians - Ireland&rsquo;s John George Adair and his American wife, Cornelia Wadsworth Ritchie &ndash; set sail from Ireland to NY, to begin their Wild West safari. Adair burns for a buffalo trophy, before it&rsquo;s&nbsp;<em>too late</em>. And lo, in the summer of 1874, they head west under army escort, through a warp between 2 huge events. To their north: Gen. George Armstrong Custer ends his grand Gold Expedition into the Lakota&rsquo;s sacred Paha Sapa, the Black Hills of Dakota. To their south: Col. Ranald &ldquo;Bad Hand&rdquo; Mackenzie spearheads the Red River (Buffalo) War against Commanche, Kiowa and Cheyenne bands who are rejecting the Reservation to save their buffalo and lifeways from destruction.</p>
<p>Adair fails to bag his trophy, but lands a far better catch -- Charlie Goodnight, a legendary trail blazer gone bust in the Depression. In the wake of America's Centennial and backed by Adair's money, they launch the real &ldquo;Bonanza&rdquo; &ndash; the Texas Panhandle's founding Cattle Empire. And lo, the vast JA (John Adair) Ranch would rise in the Palo Duro, America&rsquo;s 2nd biggest canyon. Bordering the Staked Plains, it's set where Indians last tasted freedom. The JA's stunning growth will make Goodnight a Hall of Fame cowboy and John George Adair the world&rsquo;s biggest Irish-<em>born</em>&nbsp;land owner.</p>
<p>These traces remain, hidden in plain sight:</p>

{% include feature_row %}
